form label, form input {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
}

form input {
	width: 10em;
}

form label, form div.t-submit input {
	width: 10em;
	height: auto;
	margin-right: 1em;
	float: left;
	clear: both;
}

label:after {
	content: ":";
}

form input[type="submit"] {
	margin-left: 13em;
	width: auto;	
}

div.t-crud-emptygrid, div.t-crud-message {
	margin-top: 1em;
	margin-bottom: 1em;
	border-width: 2px;
	border-style: solid;
}

div.t-crud-emptygrid {
	border-color: red;
}

div.t-crud-message {
	border-color: blue;
}

div.t-crud-emptygrid p, div.t-crud-message p{
	padding: 0.5em;
	margin: 0;
	width: auto;
}

form input[type="checkbox"], form input[type="radio"] {
	width: auto;
}

td.action {
	min-width: 3em;
	text-align: center;
}

div.t-crud-actionlinks {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

div.t-crud-actionlinks a {
	float: left;
} 

div.t-crud-actionlinks a + a {
	float: left;
	margin-left: 0.5em;
}

form div.t-submit {
	padding: 1em;
	text-align: right;
}

dl {
	display: block;
}

div.t-crud-view-page-links, div.t-edit-view-page-links  {
	margin-top: 5em;
	margin-bottom: 2em;
	display: block;
	float: none;
	clear: both;
} 

div.t-crud-view-page-links > div, div.t-crud-edit-page-links > div {
	display: block;
	clear: both;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
